@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Roboto&display=swap");
/* -------------------------------- */

/* ----------- GÉNÉRAL ------------ */

/* -------------------------------- */

* {
	box-sizing: border-box;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

.flex {
	display: flex;
	align-items: flex-start;
}

.flex img {
	margin-left: 30px;
}

section {
	padding: 20px 0;
	clear: both;
}

img {
	max-width: 100%;
}

.fr {
	float: right;
	margin: 20px;
	text-align: center;
	font-size: 0.8rem;
}

.border-top {
	border-top: 1px solid;
}

/* Typographie */

body {
	font-family: "Roboto", sans-serif;
	color: #ecedff;
	line-height: 1.5;
	background-color: #0c172c;
	font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Dosis", sans-serif;
	font-weight: 500;
}

h1, h2 {
	margin: 0 0 0.5em 0;
}

h3 {
	font-size: 2rem;
}

a {
	color: #c1ff1b;
}

a:hover {
	opacity: 0.9;
}

.btn {
	display: inline-flex;
	text-decoration: none;
	border: 1px solid;
	transition: margin 0.3s;
	padding: 0.5em 1em;
	text-align: center;
	align-items: center;
}

.btn img {
	margin-right: 0.5em;
}

.btn:hover {
	margin-left: 0.5rem;
}

table {
	text-align: left;
}

th {
	font-weight: 400;
	padding: 0.2em 1em 0.2em 0;
}

td, span {
	font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: #fff;
	color: #0c172c;
	padding: 0.2em 0.5em;
}

.list-check {
	list-style-type: square;
}

.list-check li {
	margin-bottom: 0.5em;
}

/* -------------------------------------- */

/* ------- HEADER / NAV / FOOTER -------- */

/* -------------------------------------- */

header h1 {
	margin-bottom: 0;
}

header, footer p {
	padding: 10px 0;
}

.gitlab_link {
	color: #a6db15;
	text-decoration: none;
}

.gitlab_link:hover {
	color: #81aa11;
	text-decoration: underline;
}

.nav-exercices ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 40px 0;
}

.nav-exercices li {
	width: 32%;
}

.nav-exercices a {
	display: block;
	text-align: center;
	border: 1px solid;
	text-decoration: none;
	transition: transform 0.1s;
	min-height: 100%;
	padding: 0 30px 20px;
}

.nav-exercices a:hover {
	background-color: #c2ff1b28;
	transform: scale(1.1);
	transition: all 0.2s;
}

/* --------------------------- */

/* ------- EXERCICE 1 -------- */

/* --------------------------- */

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 2fr;
	gap: 2%;
	margin-bottom: 5%;
}

.grid div * {
	align-items: center;
	justify-items: center;
	text-align: center;
	font-size: 1.5rem;
	vertical-align: middle;
	width: 100%;
}

.grid .txt {
	margin: auto;
}

.img:hover {
	box-shadow: 0px 0px 20px -2px #445679;
	transform: scale(1.05);
	transition: all 0.35s;
}

/* --------------------------- */

/* ------- EXERCICE 2 -------- */

/* --------------------------- */

.grid2 {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "pk lt bb bb" "ms ms bb bb" "ms ms ch chee";
	align-content: stretch;
	justify-content: stretch;
}

.grid2 div {
	line-height: 0;
}

.grid2 img {
	width: 100%;
}

.poker {
	grid-area: pk;
}

.lutin {
	grid-area: lt;
}

.masque {
	grid-area: ms;
}

.chat {
	grid-area: ch;
}

.cheetos {
	grid-area: chee;
}

.bonbons {
	grid-area: bb;
}

/* --------------------------- */

/* ------- EXERCICE 3 -------- */

/* --------------------------- */

@media print {
	img {
		display: none;
	}
	*, .btn {
		color: #000000;
		border-color: #000000;
		background-color: #000000;
		border-color: black;
		text-decoration: none;
	}
}